<div class="homeHdBox">
	<div class="tableHd">Videos : Favourite&nbsp;&nbsp;&nbsp;</div>
	<div class="AddCon"><%= link_to (image_tag("addnew.png") + 'Add Video'), new_video_path %>
    </div>
</div>

<div class="homeContent">
    <% i = 1 %>
    <div class="row">
        <% @videos.each do |video| %>
          <% i = i + 1 %>
          <div class="four columns">
              <iframe width="230" height="150" src= <%= "#{"https://www.youtube.com/embed/"}" + video.url %> >
                    <html lang="en" dir="ltr">
              </iframe>
              <%= link_to image_tag("delete.png", :title => "Delete"), video, method: :delete, data: { confirm: 'Are you sure to delete this video?' } %>
              <% if video.favourite == false %> 
                <%= link_to image_tag("unfav.jpg", :title => "Set as a favourite"), :controller => 'videos', :action => 'set_fav', :id => video.id %>
              <% else %>
                <%= link_to image_tag("fav.jpg", :title => "Unset as a favourite"), :controller => 'videos', :action => 'unset_fav', :id => video.id %>
              <% end %>
              <%= link_to image_tag("goto.jpg", :title => "Go to URL"), "https://www.youtube.com/embed/" + video.url, :target => "_blank" %>
          </div>
        <% end %>
    </div>
</div>
<br>

<div class="homeHdBox" style="margin-top:0;">
  <div class="tableHd">Pictures : Favourite&nbsp;&nbsp;&nbsp;</div>
  <div class="AddCon"><%= link_to (image_tag("addnew.png") + 'Upload Picture'), new_picture_path %>
    </div>
</div>

<div class="homeContent">
    <% i = 1 %>
    <div class="row">
        <% @pictures.each do |picture| %>
        <% i = i + 1 %>
        <div class="two columns">
            <%= image_tag(picture.image, :class => 'picture') %><br>
            <%= link_to image_tag("delete.png", :title => "Delete"), picture, method: :delete, data: { confirm: 'Are you sure to delete this image?' } %>
            <% if picture.favourite == false %> 
              <%= link_to image_tag("unfav.jpg", :title => "Set as a favourite"), :controller => 'pictures', :action => 'set_fav', :id => picture.id %>
            <% else %>
              <%= link_to image_tag("fav.jpg", :title => "Unset as a favourite"), :controller => 'pictures', :action => 'unset_fav', :id => picture.id %>
            <% end %>
         </div>
         
        <% end %>
    </div>
</div>
<br>

<div class="homeHdBox" style="margin-top:0;">
  <div class="tableHd">Music : Favourite&nbsp;&nbsp;&nbsp;</div>
  <div class="AddCon"><%= link_to (image_tag("addnew.png") + 'Upload Song'), new_song_path %>
    </div>
</div>

<div class="homeContent">
    <% @songs.each do |song| %>
    <audio controls style="margin-bottom:-1%">
      <source src= <%= song.file %> type="audio/mp3">
      Your browser does not support this audio format.
    </audio>
    <%= song.file.file.original_filename %> | 
      <%= number_with_precision(song.file.file.size / 1024.0 /1024.0, :precision => 2) %>MB | 
      <%= link_to image_tag("delete.png", :title => "Delete"), song, method: :delete, data: { confirm: 'Are you sure to delete this song?' } %>
      <% if song.favourite == false %> 
        <%= link_to image_tag("unfav.jpg", :title => "Set as a favourite"), :controller => 'songs', :action => 'set_fav', :id => song.id %>
      <% else %>
        <%= link_to image_tag("fav.jpg", :title => "Unset as a favourite"), :controller => 'songs', :action => 'unset_fav', :id => song.id %>
      <% end %><br><br>
    <% end %>
</div>